<div id="logos">

  <div id="who-make-it">
    <h2>Promoção, organização e realização:</h2>
    <a href="http://softwarelivre.org" class="who-pslbr" target="_blank"><span>Projeto Software Livre Brasil</span></a>
    <a href="http://asl.org.br" class="who-asl" target="_blank"><span>Associação Software Livre Brasil</span></a>
  </div><!-- end id="who-make-it" -->

  <div id="transm">
    <h2>Transmissão:</h2>
    <a href="http://softwarelivre.org/radio" class="transm-radio" target="_blank"><span>Rádio SL</span></a>
    <a href="http://tv.softwarelivre.org" class="transm-tv" target="_blank"><span>TV SL</span></a>
  </div><!-- end id="transm" -->

</div><!-- end id="logos" -->

<div id="footer-links">
<a href="http://softwarelivre.org/portal/termos-de-uso" target="_blank">Termos de Uso</a>
<a href="mailto:asl@softwarelivre.org">Fale Conosco</a>
</div><!-- end id="footer-links" -->

<div id="copyright">
  &copy; Copyright 2010 -
  <a id="link-asl" href="http://associacao.softwarelivre.org"
     title="Associação SoftwareLivre.org">ASL</a>
  <br/>
  Desenvolvido pela
  <a id="link-colivre" href="http://colivre.coop.br"
     title="Colivre - Cooperativa de Tecnologias Livres">Colivre</a>
  <!-- Desenvolvido com
  <a href="http://noosfero.com.br"
     title="FLOSS for Social!">Noosfero</a-->
</div><!-- end id="copyright" -->

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.colivre.coop.br/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="http://piwik.colivre.coop.br/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
