<div id='fisl-languages'>
  <%= link_to('<span>Português</span>', {:lang => 'pt'}, {:class => 'br-flag', :title => 'Português'}) %>
  <%= link_to('<span>English</span>', {:lang => 'en'}, {:class => 'en-flag', :title => 'English'}) %>
  <%= link_to('<span>Español</span>', {:lang => 'es'}, {:class => 'es-flag', :title => 'Español'}) %>
</div>

<a href="http://softwarelivre.org/fisl11" id="fisl11"><span>FISL 11</span></a>
<img src="/designs/themes/fisl11/imgs/QRCode-FISL11.png" id="qrcode" width="31" height="31" />
<div id="tiny_bar">

  <%= link_to '<i><!-- An optional icon place --></i><span>'+environment.name+'</span>', environment.top_url, :id => 'tiny_title' %>

  <ul id="tiny_assets">
    <%= theme_extra_navigation %>
  </ul>

  <% if logged_in? %>

    <div id="tiny_userbar">
      <%
      user_icon = (current_user.person.image)?
         current_user.person.image.public_filename(:icon) : "/images/icons-bar/photo.png"
      %>
      <%= link_to('<span style="background:url('+user_icon+')"></span><strong>' + user.identifier + '</strong>', user.url, :id => "tiny_home_link", :title => _('Go to your homepage')) %>
      <ul>
        <% if user.is_admin?(environment) %>
          <li id="tiny_admctrlpanel"><%= link_to('<span class="icon-menu-admin"></span><strong>' + _('Administration') + '</strong>', { :controller => 'admin_panel', :action => 'index' }, :title => _("Configure the environment")) %></li>
        <% end %>
        <% if (user.environment == environment) %>
          <li id="tiny_ctrlpanel"><%= link_to('<span class="icon-menu-ctrl-panel"></span><strong>' + _('Control panel') + '</strong>', user.admin_url, :title => _("Configure your personal account and content")) %></li>
        <% end %>
        <li id="tiny_logout"><%= link_to('<span class="icon-menu-logout"></span><strong>' + _('Logout') + '</strong>', { :controller => 'account', :action => 'logout'}, :title => _("Leave the system")) %></li>
      </ul>
    </div><!-- end id="tiny_userbar" -->

  <% else %>

    <div id="tiny_guestbar">
      <%= _('%s or %s') % [modal_inline_link_to('<i class="icon-menu-login"></i><strong>' + _('Login') + '</strong>', login_url, 'inlineLoginBox', :id => 'link_login'), link_to('<strong>' + _('Register') + '</strong>', :controller => 'account', :action => 'signup') ] %>
      <div id='inlineLoginBox' style='display: none;'>
        <%= render :file => 'account/login', :locals => { :is_thickbox => true } %>
      </div>
    </div><!-- end id="tiny_guestbar" -->

  <% end %>

</div><!-- end id="tiny_bar" -->

