<li><a href="/assets/people"><span class='icon-menu-people'>Pessoas</span></a></li>
<li><a href="/assets/communities"><span class='icon-menu-community'>Comunidades</span></a></li>
<li><a href="/assets/events"><span class='icon-menu-events'>Agenda Livre</span></a></li>

