/* ==> button.css <== */


.button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#content input.button, #content a.button {
  background-repeat: no-repeat;
  background-color: #EEE;
  border: 1px solid #CCC;
  color: #555;
  line-height: 16px;
  height: 16px;
  text-decoration: none;
}

#content input.button.with-text, #content a.button.with-text {
  line-height: 20px;
  height: 20px;
}

input.button {
  max-height: 20px;
}
input.button.with-text {
  max-height: 22px;
}

#content input.button:hover, #content a.button:hover {
  color: #FFF;
  background-color: #37B;
  border: 1px solid #038;
  text-decoration: none;
}

/* ==> lightbox.css <== */


#TB_window {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 20px solid #000;
  background: #FFF;
}

/* ==> layout.css <== */

html {
  background: #09D url(imgs/brilho.png) 50% 0% repeat-y;
}

body {
  background: url(imgs/footer-bg.png) 0% 100% repeat-x;
  font-family: Liberation Sans, Arial, sans-serif;
}

body, th, td, input {
  font-size: 12px;
}

#link-go-content {
  position: absolute;
  top: -100px;
}

#theme-header {
  position: relative;
  width: 960px;
  margin: auto;
  z-index: 10;
}

#follow {
  background: url(imgs/follow.png) no-repeat;
  width: 89px;
  height: 82px;
  position: absolute;
  top: 45px;
  right: 105px;
}
#follow span {
  display: none;
}

#fisl11 {
  background: url(imgs/fisl11.gif) no-repeat;
  width: 159px;
  height: 105px;
  position: absolute;
  top: 140px;
  left: 37px;
}
#fisl11 span {
  display: none;
}

#qrcode {
  position: absolute;
  top: 162px;
  left: 390px;
}

#wrap-2 {
  width: 960px;
  margin: auto;
  position: relative;
  background-color: white;
}

#content {
  background: #FFF url(imgs/header.jpg) no-repeat;
  margin: 0px;
  padding: 235px 10px 10px 10px;
}

/*************************** friends *********************************/

#language-chooser {
  float: right;
  padding-top: 1px;
}

#language-chooser select {
  font-size: 11px;
}

/*************************** friends *********************************/

#friends {
  padding: 6px 3px;
  font-size: 11px;
}

#friends a {
  margin-right: 30px;
  color: #777;
  text-decoration: none;
}
#friends a:hover {
  color: #333;
  text-decoration: underline;
}

/************************* menu original *****************************/

#user, #site-title, #navigation, #navigation-end {
  display: none;
}


/***************************** boxes ********************************/

.template-default .box-1 { /* Center */
  position: relative;
  margin: 0px 200px 0px 200px;
}

.template-default .box-2 { /* Left */
  position: relative;
  width: 190px;
}

.template-default .box-3 { /* Right */
  position: relative;
  width: 190px;
}

#content .box-1 .slideshow-block {
  margin-top: 15px;
}

.box-1 .slideshow-block {
  width: 300px;
}

.box-1 .slideshow-border.with-descriptions {
  background: #000;
}

.box-1 .slideshow-border .image-description {
  border-top-color: #000;
  background: #000;
  color: white;
  font-weight: bold;
}

.box-1 .slideshow-block .slideshow-container div {
  height: 180px;
}

#content .box-1 .recent-documents-block,
#content .box-1 .article-block {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 210px;
}

/************************** main content *****************************/

#main-content-wrapper-1, #main-content-wrapper-2,
#main-content-wrapper-3, #main-content-wrapper-4,
#main-content-wrapper-5, #main-content-wrapper-6,
#main-content-wrapper-7, #main-content-wrapper-8 {
  position: relative;
}

#main-content-wrapper-1 { background: url(imgs/content-bg-N.png)  0%     0% repeat-x  }
#main-content-wrapper-2 { background: url(imgs/content-bg-S.png)  0%   100% repeat-x  }
#main-content-wrapper-3 { background: url(imgs/content-bg-L.png)  100%   0% repeat-y  }
#main-content-wrapper-4 { background: url(imgs/content-bg-O.png)  0%     0% repeat-y  }
#main-content-wrapper-5 { background: url(imgs/content-bg-NL.png) 100%   0% no-repeat }
#main-content-wrapper-6 { background: url(imgs/content-bg-NO.png) 0%     0% no-repeat }
#main-content-wrapper-7 { background: url(imgs/content-bg-SL.png) 100% 100% no-repeat }
#main-content-wrapper-8 { background: url(imgs/content-bg-SO.png) 0%   100% no-repeat }
#main-content-wrapper-8 {
  padding: 10px 20px;
  margin-top: 20px;
}

#content .main-block h1 {
  font-variant: small-caps;
  color: #06A;
  font-size: 16px;
  text-align: left;
  border-bottom: 2px solid #08C;
}

div.no_media_panel {
  margin: 0px;
}

div#notice {
  background-color: #444;
  color: #FFF;
  font-size: 16px;
  padding: 20px 25px;
  border: 4px solid black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* ==> blocks.css <== */

.block a {
  color: #059;
}
.block a:visited {
  color: #47A;
  font-weight: normal;
}
.block a:hover {
  color: #026;
  text-decoration: underline;
}


#content .block {
  padding: 0px;
  margin: 0px 0px 20px 0px;
  position: relative;
}


#content .block-title {
  font-variant: small-caps;
  color: #06A;
  font-size: 14px;
  text-align: left;
  border-bottom: 2px solid #08C;
}

.block-title.empty {
  display: none;
}

/*************************** Login block *****************************/

.login-box {
  padding: 0px;
  font-size: 10px;
}

#content .login-box-content a.button {
  font-size: 11px;
}

.login-box-content {
  margin: 0px;
  border: none;
  background: none;
  padding: 0px;
}

.login-box-content .button-bar .button {
  position: relative;
}

.login-box .formfieldline input {
  width: 99%;
}

.login-box form {
  margin: 0px;
  padding: 0px 0px 0px 0px;
}
.msie7 .login-box form {
  padding: 0px 10px 0px 0px;
}

#content .login-block h2 {
  font-variant: small-caps;
  color: #06A;
  font-size: 14px;
  text-align: left;
  border-bottom: 2px solid #08C;
}

.login-box p {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.want-to-be-an-user {
  font-size: 13px;
}

#content .logged-user-info h2 {
  font-size: none;
}

.logged-user-info ul {
  margin-top: 5px;
}

.logged-user-info .user-actions {
  padding-left: 50px;
}


/************************** Profile List *****************************/

#content .people-block ul,
#content .profile-list-block ul,
#content .enterprises-block ul,
#content .members-block ul,
#content .communities-block ul,
#content .friends-block ul {
  min-width: 196px;
  width: 192px;
  margin: 0px 0px 0px -3px;
  padding: 0px;
}

#content .tags-block .block-footer-content a,
#content .people-block .block-footer-content a,
#content .profile-list-block .block-footer-content a,
#content .enterprises-block .block-footer-content a,
#content .members-block .block-footer-content a,
#content .communities-block .block-footer-content a,
#content .friends-block .block-footer-content a {
  position: absolute;
  top: 2px;
  right: 0px;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  padding-right: 15px;
  background: url(imgs/arrow-right-p.png) 100% 50% no-repeat;
}

#content .profile-list-block .block-title {
  text-align: left;
}

#content .profile-list li a,
#content .common-profile-list-block li a {
  color: #555;
}
#content .profile-list li a:hover,
#content .common-profile-list-block li a:hover {
  color: #000;
  text-decoration: none;
}

/************************* Recent Contents ***************************/

#content .recent-documents-block {
  overflow: hidden;
}

.recent-documents-block li {
  list-style-image: url(imgs/li-recent.gif);
  padding: 5px 0px;
}

.recent-documents-block li a {
  font-weight: bold;
}
.recent-documents-block li a:visited {
  font-weight: normal;
}
.recent-documents-block li a:hover {
  text-decoration: underline;
}

/************************* Profile Image *****************************/

#content .profile-image-block {
  width: 170px;
  margin-left: 20px;
  padding-top: 2px;
}
.profile-big-image-inner1 {
  text-align: left;
}

.profile-big-image {
  margin: 0px;
}
.profile-big-image img {
  border: none;
  padding: 0px;
}

.profile-image-block p {
  text-align: left;
  margin: 0px;
  font-size: 17px;
  font-weight: bold;
  color: #555;
}


/*************************** My Network ******************************/

#content .block.my-network-block {
  margin: 0px 0px 10px 0px;
}

.my-network-block ul {
  margin: 0px;
  padding: 0px 0px 10px 20px;
}
.my-network-block li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}


/*************************** Link List *******************************/

.link-list-block .empty {
  display: none;
}

#content .link-list-block li {
  background: #FFF;
  padding: 0px;
  margin: 2px 0px;
}

#content .link-list-block li a {
  font-size: 14px;
  line-height: 22px;
  color: #000;
  background-color: #EEE;
  background-position: 4px 50%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#content .link-list-block li a.link-this-page {
  -moz-border-radius-topright: 0px;
  -webkit-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-radius-bottomright: 0px;
  background-color: #08C;
  max-width: 175px;
  width: 200px;
  border-right: 2px solid #059;
}

#content .link-list-block li a:hover {
  background-color: #06A;
  color: #FFF;
  text-decoration: none;
}
X#content .link-list-block li a.link-this-page:hover {
  border-right: 2px solid #046;
}


/************************** Communities ******************************/

.communities-block .profile-image {
  float: left;
  padding-left: 4px;
  max-width: 70px;
  width: 75px;
  height: auto;
}

.communities-block .vcard a {
  clear: left;
  text-align: left;
  padding-bottom: 3px;
  width: 99%;
  height: auto;
}
.msie6 .communities-block .common-profile-list-block .vcard a,
.msie7 .communities-block .common-profile-list-block .vcard a {
  height: auto;
  width: 99%;
  padding-bottom: 1px;
}

.communities-block .vcard a .org {
  padding-top: 5px;
  font-size: 12px;
  color: #000;
  max-height: 30px;
  overflow: hidden;
}
.msie .communities-block .vcard a .org {
  height: 30px;
}

.communities-block .vcard a .may-clear {
  clear: left;
}

/****************************** Tags *********************************/

/* the style here is not only for #content .tags-block .tag_cloud */

.tag_cloud {
  text-align: center;
}

.tag_cloud a {
  text-decoration: none;
}

.tag_cloud a small {
  opacity: 0.5;
  filter:alpha(opacity=50);
}

/*************************** News Area *******************************/

.news-area {
  border: none;
  background: #FFF;
  height: auto;
  position: relative;
}

.news-area ul {
  border: 1px solid #CCC;
  border-top: 2px solid #07C;
  height: 125px;
  overflow: auto;
  margin: 0px;
  padding: 5px 10px;
  background: url(imgs/comment-bg-S.png) 0% 100% repeat-x;
  border-bottom: none;
}

.news-area li {
  margin-left: 15px;
  padding: 0px 0px;
  list-style-image: url(imgs/li-recent.gif);
}

#content .news-area h3 {
  background: #FFF;
  margin: 0px;
  padding: 0px;
}
#content .news-area h3 a {
  font-weight: bold;
  color: #05a;
}
#content .news-area h3 a:hover {
  text-decoration: none;
}

#content .news-area a {
   color: #000;
}

#content .news-area a.news-see-more {
  position: absolute;
  top: 3px;
  right: 0px;

  color: #000;
  padding-right: 10px;
  background: url(imgs/arrow-right-p.png) 100% 50% no-repeat;
}

#content .news-area a.news-see-more:hover {
  text-decoration: none;
  color: #07C;
}

#portal-news ul {
  padding: 0px;
}
#portal-news li {
  list-style: none;
  padding: 3px 0px;
}
#portal-news li a {
  font-weight: bold;
}
#portal-news .post-date, #highlighted-news .post-date {
  color: #ccc;
}

#highlighted-news .post-title {
  font-weight: bold;
  font-size: 16px;
}
#highlighted-news h2 {
  margin-bottom: 0px;
}

.sep {
  background: url(imgs/blog-sep.png) 50% 50% repeat-x;
  padding: 10px 20px;
  margin: 10px -19px;
}

/* ==> search-results.css <== */


.msie .search-results-box {
  width: 48%;
}

.controller-search #content .no-boxes h1 {
  font-variant: small-caps;
  color: #05B; /*6A0*/
  font-size: 18px;
  text-align: left;
  border-bottom: 2px solid #08C; /*8C0*/
}

.query {
  display: none;
}

.controller-search #content .search_form {
  background: #DDD;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 12px 15px 13px 15px;
  position: relative;
  text-align: left;
}

#advanced_search_link {
  position: absolute;
  top: 15px;
  right: 20px;
  background: url(imgs/arrow-down-p.png) 100% 55% no-repeat;
  padding-right: 15px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.controller-search #content .search_form h3 {
  display: none;
  /*
  color: #AAA;
  margin: 0px;
  */
}

.controller-search #content .search_form h4 {
  background: #DDD;
  color: #777;
}
.controller-search .search-options {
  border: 1px solid #777;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.controller-search .search-options ul li {
  position: relative;
}

.controller-search .search-within select {
  display: block;
  margin-bottom: 5px;
}

.controller-search .search-within label {
  display: block;
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 10px;
  position: relative;
  top: 5px;
}

.controller-search a {
  color: #6A0;
}

#search-results h3 {
  color: #05B; /*6A0*/
  font-variant: small-caps;
  margin: 0px;
}

.search-results-innerbox {
  border: 1px solid #CCC;
  border-top: 2px solid #08C; /*8C0*/
  border-bottom: none;
  background: url(imgs/comment-bg-S.png) 0% 100% repeat-x;
}
.only-one-result-box .search-results-innerbox {
  border-top: 1px solid #CCC;
}

#content .search-results-box a.see-more {
  z-index: 10;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: transparent url(imgs/arrow-right-p.png) 100% 55% no-repeat;
  border: none;
  padding-right: 15px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
#content .search-results-box a.see-more:hover {
  background: transparent url(imgs/arrow-right-p.png) 100% 55% no-repeat;
  color: #08C;
}


.search-results-type-article.search-results-innerbox {
  padding: 5px 0px 5px 10px;
  max-height: 215px;
  height: 225px;
}

#content .search-results-type-article li {
  padding: 5px 0px;
}

.search-results-type-article a {
  text-decoration: none;
}
.search-results-type-article a:hover {
  text-decoration: underline;
}

/* ==> article.css <== */

#article a {
  text-decoration: underline;
}

hr.pre-posts, hr.sep-posts {
  display: none;
}

.blog-post {
  background: url(imgs/blog-sep.png) repeat-x;
  padding: 15px 20px 5px 20px;
  margin: 0px -19px;
}

#article-actions {
  margin-left: -5px;
}

#article-actions a.button,
#article-actions a.button:hover {
  border: none;
  background-color: transparent;
  color: #888;
}
#article-actions a.button:hover {
  color: #4B0;
}

#article .article-body {
  overflow: hidden;
}

#addThis {
  text-align: right;
}

#content .blog-post .title {
  border-bottom-color: #CCC;
}
#content .blog-post .title a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

#content .blog-posts {
  margin-top: 30px;
}

#content .main-block .created-at {
  text-align: left;
  color: #AAA;
}
#content .main-block .created-at a {
  color: #AAA;
  text-decoration: none;
}
#content .main-block .created-at a:hover {
  color: #555;
  text-decoration: underline;
}

#article-tags {
  color: #FFF;
}
#article-tags a {
  text-decoration: none;
  padding: 0px 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #BBB;
  color: #FFF;
}
#article-tags a:hover {
  background: #05A;
}

#article-hits {
  text-align: left;
  color: #AAA;
}

#article-parent {
  margin-top: 10px;
}

.msie .post_comment_box {
  padding-top: 15px;
}

.post_comment_box.closed h4 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.post_comment_box.opened h4 {
  display: block;
  background: #FFF;
  padding: 0px;
  font-variant: small-caps;
  color: #06A;
  font-size: 14px;
  text-align: left;
  border-bottom: 2px solid #08C;
}

.post_comment_box.opened {
  border: none;
  background: #FFF;
}


/**************************** Comments *******************************/

#content .comments h3 {
  font-variant: small-caps;
  color: #06A;
  font-size: 14px;
  text-align: left;
  border-bottom: 2px solid #08C;
}

.article-comment {
  border: none;
  background: #FFF;
}

.comment-logged-out h4 {
  color: #888;
}

#content .comment-picture {
  text-align: left;
  text-decoration: none;
  position: relative;
}

.comment-wrapper-1 {
  margin-left: 60px;
  background: url(imgs/comment-bg-N.png)    0%   0% repeat-x;
}
.comment-wrapper-2 {
  background: url(imgs/comment-bg-S.png)    0% 100% repeat-x;
}
.comment-wrapper-3 {
  background: url(imgs/comment-bg-L.png)  100%   0% repeat-y;
}
.comment-wrapper-4 {
  background: url(imgs/comment-bg-O.png)    0%   0% repeat-y;
}
.comment-wrapper-5 {
  background: url(imgs/comment-bg-SL.png) 100% 100% no-repeat;
}
.comment-wrapper-6 {
  background: url(imgs/comment-bg-SO.png)   0% 100% no-repeat;
}
.comment-wrapper-7 {
  background: url(imgs/comment-bg-NL.png) 100%   0% no-repeat;
}
.comment-wrapper-8 {
  background: url(imgs/comment-bg-NO.png)   0%   0% no-repeat;
}

.comment-created-at {
  position: relative;
  padding-right: 10px;
}
.comment-from-owner .comment-created-at {
  color: #07B;
}

.article-comment .button-bar {
  position: relative;
  top: 3px;
  right: 1px;
  z-index: 10px;
}
.article-comment .button-bar a {
  position: relative;
}

.comment-details {
  margin: 0px;
  padding: 7px 12px 3px 26px;
}



/* ==> controllers.css <== */

/******** controller-friends action-friends-index ********/

.action-friends-index .profile-list li,
.common-profile-list-block .vcard a {
  border: 1px solid transparent;
}

.action-friends-index .profile-list li:hover,
.common-profile-list-block .vcard a:hover {
  border: 1px solid #CCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #EEE;
  text-decoration: none;
}


/******** controller-profile action-profile-index ********/

table.profile th {
  font-size: 15px;
  text-align: left;
}

/**** controller-memberships action-memberships-index ****/

#memberships-index li {
  background-color: #FFF;
  border: 1px solid #EEE;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  margin-bottom: 10px;
}

#memberships-index li .vcard a.profile_link.url {
  border: 1px solid transparent;
  background-color: #FFF;
}

#memberships-index li .vcard a.profile_link.url:hover {
  border: 1px solid  #CCC;
  background-color: #EEE;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/************************** Control Panel ****************************/

.control-panel a,
.control-panel a:visited {
  color: #000;
  font-weight: bold;
  background-position: 2px 50%;
}
.control-panel a:hover {
  text-decoration: none;
  color: #FFF;
  background-color: #6B0;
}

/* ==> footer.css <== */


#theme-footer {
  position: relative;
  margin: 30px auto 0px auto;
  width: 960px;
  height: 120px;
  font-size: 11px;
  color: #90E090;
}

#theme-footer a {
  color: #90E090;
  text-decoration: none;
}
#theme-footer a:hover {
  color: #FFF;
  text-decoration: underline;
}

#logos div {
  float: left;
  text-align: center;
  margin-right: 30px;
}

#logos h2 {
  font-weight: bold;
  font-size: 11px;
  text-align: left;
  margin: 0px 0px 10px 0px;
  color: #FFF;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

#logos a {
  display: inline-block;
  margin: 0px 15px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#logos a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

#logos a span {
  display: none;
}

#who-make-it {
  margin-left: 50px;
}

#transm {
  margin-left: 80px;
}
#transm h2 {
  margin-bottom: 15px;
  font-weight: bold;
}

.who-pslbr {
  background: url(imgs/plsbr-branco.png);
  width: 56px;
  height: 50px;
}
.who-asl {
  background: url(imgs/asl-cinza.png);
  width: 67px;
  height: 60px;
}

.transm-radio {
  background: url(imgs/radio-sl.png);
  width: 95px;
  height: 50px;
}
.transm-tv {
  background: url(imgs/tv-sl.png);
  width: 93px;
  height: 50px;
}

#footer-links {
  padding-right: 50px;
  text-align: right;
  font-weight: bold;
}
#footer-links a {
  margin-left: 8px;
}

#copyright {
  text-align: right;
  position: absolute;
  right: 50px;
  bottom: 35px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#link-colivre {
  font-size: 12px;
}

#fisl-languages {
  top: 40px;
  position: relative;
  margin-right: 10px;
  font-weight: bold;
}

#fisl-languages .br-flag,
#fisl-languages .en-flag,
#fisl-languages .es-flag {
  position: absolute;
  width: 16px;
  height: 11px;
}

#fisl-languages span {
  display: none;
}

#fisl-languages .br-flag {
  right: 52px;
  background: url(imgs/brazil.png) no-repeat;
}

#fisl-languages .en-flag {
  right: 26px;
  background: url(imgs/united_kingdom.png) no-repeat;
}

#fisl-languages .es-flag {
  right: 0px;
  background: url(imgs/spain.png) no-repeat;
}

/* ==> tinybar.css <== */

#tiny_bar {
  position: relative;
  height: 32px;
  z-index: 10;
  background: #0055d4 url(imgs/bg-top.png);
}

/************** Environment Title **************/

#tiny_title {
  display: block;
  float: left;
  background: url(imgs/slbr-top.png) 100% 100% no-repeat;
  width: 254px;
  height: 40px;
  padding-left: 5px;
}
#tiny_title span {
  display: none;
}

/************** Assets **************/

#tiny_assets {
  display: block;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
}

#tiny_assets li {
  margin: 0px;
  padding: 0px 10px;
  list-style: none;
  display: inline;
}

#tiny_assets a,
#tiny_assets a:active,
#tiny_assets a:visited {
  color: #5AE;
  text-decoration: none;
}
#tiny_assets a:hover {
  color: #FFF;
}

#tiny_assets a span {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  line-height: 32px;
  display: inline-block;
}

/************** Authenticated user Menu **************/

#tiny_userbar {
  margin: 3px 0px 0px 150px;
  float: left;
  width: auto;
  color: #5AE;
  text-align: left;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid #039;
  background: #04C;
  padding: 0px 10px 2px 10px;
}

.msie #tiny_userbar {
  padding: 0px 10px 4px 10px;
}

#tiny_userbar a {
  display: block;
  text-decoration: none;
  color: #5AE;
}
#tiny_userbar a:hover {
  color: #FFF;
}

#tiny_userbar a span {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  margin-right: 7px;
}

a#tiny_home_link span {
  width: 20px;
  height: 20px;
}

#tiny_userbar ul {
  display: none;
}
#tiny_userbar:hover ul {
  display: block;
  margin: 0px;
  padding: 3px 0px;
}

#tiny_userbar li {
  margin: 0px;
  padding: 1px 0px;
  list-style: none;
}

/************** Gest user Menu **************/

#tiny_guestbar {
  margin-left: 265px;
  width: 370px;
  height: 32px;
  text-align: center;
  color: #5AE;
}
.msie #tiny_guestbar {
  color: #0055d4;
}

#tiny_guestbar a {
  display: inline-block;
  font-size: 14px;
  padding: 2px 5px 3px 5px;
  margin: 5px 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #47E;
  border-right: 1px solid #049;
  border-bottom: 1px solid #049;
  text-decoration: none;
}

#tiny_guestbar a,
#tiny_guestbar a:active,
#tiny_guestbar a:visited {
  color: #5AE;
}
#tiny_guestbar a:hover {
  color: #CFF;
}

/************************** Highlights block ****************************/

.highlights-image-link:hover {
  text-decoration: none;
}

.highlights-label {
  font-weight: bold;
	padding: 3px;
  background: transparent url(imgs/blue-alpha.png);
}

/************************** Profile balloon ****************************/

.action-friends-index .profile-list li,
.common-profile-list-block .vcard {
  border: 1px solid transparent;
}

.action-friends-index .profile-list li:hover,
.common-profile-list-block .vcard:hover {
  border: 1px solid #CCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #EEE;
  text-decoration: none;
}

.common-profile-list-block .vcard a,
.common-profile-list-block .vcard a:hover {
  background: transparent;
  border: 0;
}

/* Comment balloon */

.comment-from-owner .comment-wrapper-1 {
  background-color: #b0d1ff;
	background-image: url(imgs/comment-owner-bg-N.png);
}
.comment-from-owner .comment-wrapper-2 { background-image: url(imgs/comment-owner-bg-S.png); }
.comment-from-owner .comment-wrapper-3 { background-image: url(imgs/comment-owner-bg-L.png); }
.comment-from-owner .comment-wrapper-4 { background-image: url(imgs/comment-owner-bg-O.png); }
.comment-from-owner .comment-wrapper-5 { background-image: url(imgs/comment-owner-bg-SL.png); }
.comment-from-owner .comment-wrapper-6 { background-image: url(imgs/comment-owner-bg-SO.png); }
.comment-from-owner .comment-wrapper-7 { background-image: url(imgs/comment-owner-bg-NL.png); }
.comment-from-owner .comment-wrapper-8 { background-image: url(imgs/comment-owner-bg-NO.png); }
.comment-replies .comment-from-owner.comment-content {
  background-image: url(imgs/comment-reply-owner-bg.png);
}
