#tiny_bar {
  position: relative;
  height: 32px;
  z-index: 10;
  background: #0055d4;
}

/************** Environment Title **************/

#tiny_title {
  display: block;
  float: left;
  background: url(imgs/lettering-slbr-top.png) 100% 100% no-repeat;
  width: 253px;
  height: 32px;
  padding-left: 5px;
}
#tiny_title i {
  display: block;
  float: left;
  background: url(imgs/br.png) 0% 0% no-repeat;
  width: 50px;
  height: 40px;
}
#tiny_title span {
  display: none;
}

/************** Assets **************/

#tiny_assets {
  display: block;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
}

#tiny_assets li {
  margin: 0px;
  padding: 0px 10px;
  list-style: none;
  display: inline;
}

#tiny_assets a,
#tiny_assets a:active,
#tiny_assets a:visited {
  color: #5AE;
  text-decoration: none;
}
#tiny_assets a:hover {
  color: #FFF;
}

#tiny_assets a span {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  line-height: 32px;
  display: inline-block;
}

/************** Authenticated user Menu **************/

#tiny_userbar {
  margin: 3px 0px 0px 150px;
  float: left;
  width: auto;
  color: #5AE;
  text-align: left;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid #039;
  background: #04C;
  padding: 0px 10px 2px 10px;
}

.msie #tiny_userbar {
  padding: 0px 10px 4px 10px;
}

#tiny_userbar a {
  display: block;
  text-decoration: none;
  color: #5AE;
}
#tiny_userbar a:hover {
  color: #FFF;
}

#tiny_userbar a span {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  margin-right: 7px;
}

a#tiny_home_link span {
  width: 20px;
  height: 20px;
}

#tiny_userbar ul {
  display: none;
}
#tiny_userbar:hover ul {
  display: block;
  margin: 0px;
  padding: 3px 0px;
}

#tiny_userbar li {
  margin: 0px;
  padding: 1px 0px;
  list-style: none;
}

/************** Gest user Menu **************/

#tiny_guestbar {
  margin-left: 265px;
  width: 370px;
  height: 32px;
  text-align: center;
  color: #5AE;
}
.msie #tiny_guestbar {
  color: #0055d4;
}

#tiny_guestbar a {
  display: inline-block;
  font-size: 14px;
  padding: 2px 5px 3px 5px;
  margin: 5px 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #47E;
  border-right: 1px solid #049;
  border-bottom: 1px solid #049;
  text-decoration: none;
}

#tiny_guestbar a,
#tiny_guestbar a:active,
#tiny_guestbar a:visited {
  color: #5AE;
}
#tiny_guestbar a:hover {
  color: #CFF;
}

